*/__pycache__/*
*.py[cod]
*$py.class
uploads/*
old/*
*.pyc
CLAUDE_INSTRUCTIONS
app/data/*
app/uploads/*
app/utils/__pycache__/*
app/models/__pycache__/*
app/routes/__pycache__/*
app/__pycache__/*
bin/*